@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.detailsPage {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    min-height: 73vh;
    margin-bottom: 8vh;
}

.detailsPage .detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 1px var(--theme-color);
    border-radius: 6%;
    width: 70vw;
    height: auto;
    padding-bottom: 10px;
    background-color: #121213fa;
    box-shadow: 0 0 35px var(--theme-color);
    transition: all 800ms ease-in-out;
    animation: slideIn 700ms ease;
}

.detailsPage .detailsContainer .headerDate {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 25px;
    width: 100%;
    height: 100px;
    color: #edf0f1;
    text-align: center;
    padding: 0% 10% 0% 10%;
    margin-top: 4%;
    border-bottom: 2px solid var(--theme-color);
    overflow:auto;
    transition: all ease 700ms
}

.detailsPage .detailsContainer .headerDate h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70%;
}

.detailsPage .detailsContainer .headerDate .timeContainer {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 15px;
    text-align: end;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.detailsPage .detailsContainer .headerDate .timeContainer h4 {
    font-weight: 100;
}

.detailsPage .pBtnContainer {
    width: 50%;
    margin: 5% 0 5% 5%
}

.detailsPage p:not(.username) {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 1rem;
    color: #edf0f1;
    word-wrap: break-word;
}

.detailsPage .detailsContainer img:not(.comment img) {
    width: 33%;
    height: max-content;
    min-height: 10%;
    max-height: 70%;
    margin: 5% 0 3% 2%;
    padding: 0 0 0 0
}

.detailsPage .pBtnContainer .detailsBtns {
    display: flex;
    justify-content: center;
    margin: 5% 0 5% 0;
}

.detailsPage .detailsContainer .detailsBtns a {
    text-decoration: none;
    color: #edf0f1
}

.detailsPage .pBtnContainer .detailsBtns button {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    width: 80px;
    height: 35px;
    border-radius: 0.7rem;
    border: none;
    background-color:var(--button-color);
    margin-left: 4%;
    margin-right: 1.5%;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.detailsPage .pBtnContainer .detailsBtns button:hover {
    background-color:var(--button-hover-color);
    font-size: 20px;
    width: 100px;
    height: 43px;
    border-radius: 0.8rem;
    letter-spacing: 0.5px;
    box-shadow: 0 0 20px var(--theme-color);
}

.detailsPage .pBtnContainer .detailsBtns button:active {
    transform: scale(93%);
    background-color: var(--button-active-color);
    box-shadow: 0 0 20px var(--button-hover-color);
}

.detailsPage .likesCommentContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.detailsPage .likes {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-align: center; 
    margin-bottom: 2%;
}

.detailsPage .commentButton {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    width: 150px;
    height: 35px;
    border-radius: 0.7rem;
    border: none;
    background-color:var(--button-color);
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.detailsPage .commentButton:hover {
    background-color:var(--button-hover-color);
    font-size: 20px;
    width: 190px;
    height: 43px;
    border-radius: 0.8rem;
    letter-spacing: 0.5px;
    box-shadow: 0 0 20px var(--theme-color);
}

.detailsPage .commentButton:active {
    transform: scale(93%);
    background-color: var(--button-active-color);
    box-shadow: 0 0 20px var(--button-hover-color);
}

.commentContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px
}

.commentContainer h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 1rem;
    color: #edf0f1;
    text-align: center;
}

.commentContainer .commentInputBox {
    position: relative;
    width: 90%;
    margin: auto;
}

.commentContainer .commentInputBox button {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    right: 0;
    padding: 6px 10px 5px 0px;
    cursor: pointer;
    font-size: 1em;
    background: none;
    border: none;
    /* width: 5%; */
    color: #edf0f1;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.commentContainer .commentInputBox button:active {
    color: var(--theme-color);
}

.commentContainer .commentInputBox input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin: auto;
    height: 30px;
    padding: 5px 7% 5px 7px;
    border: 1px solid rgba(2255, 255, 255, 0.25);
    background: #121213fa;
    border-radius: 5px;
    outline: none;
    color: #edf0f1;
    font-size: 1em;
}

.commentContainer .commentInputBox span {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 0;
    padding: 5px 0px 5px 7px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(2255, 255, 255, 0.25);
    transition: 0.5s ease;
}

.commentContainer .commentInputBox input:valid ~ span,
.commentContainer .commentInputBox input:focus ~ span {
    color: var(--button-color);
    transform: translateX(10px) translateY(-10px);
    font-size: 1em;
    padding: 0px 10px 0px 10px;
    background: #121213fa;
    letter-spacing: 0.2em;
    border-left: 1px solid var(--button-color);
    border-right: 1px solid var(--button-color);
}

.commentContainer .commentInputBox input:valid,
.commentContainer .commentInputBox input:focus {
    border: 1px solid var(--button-color);
}

.commentContainer .comments {
    /* display: flex;
    flex-direction: column;
    gap: 10px */
    margin-bottom: 1%;
}

.commentContainer .comments .comment {
    display: flex;
    width: 92%;
    min-height: 4vh;
    margin: auto;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
    /* background-color: black */
}

.commentContainer .comments a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom:1px solid rgba(255, 255, 255, 0.6);
    /* text- */
    font-size: 1.1rem;
}

.commentContainer .comments p:not(.likeData p) {
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 1%;
    transform: translateY(2px);
    /* position:fixed;
    top: 100%; */
    word-wrap: break-word;
}

.commentContainer .comments .comment img {
    width: 20px;
    cursor: pointer;
    /* transform: rotateX(180deg); */
}

.commentContainer .comments .commentData {
    width: 90%;
    display: flex;
}

.commentContainer .comments .likeData {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.commentContainer .comments .likeData p {
    color: white;
    font-size: 0.8rem;
}