@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 220px;
}

.articles article {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    border:solid var(--theme-color) 1px;
    border-radius: 13%;
    background-color: #121213fa;
    width: 27vw;
    height: auto;
    min-height: 370px;
    box-shadow: 0 0 35px var(--theme-color);
    margin-right: 1px;
    margin-bottom: 3%;
    transition: all 800ms ease-in-out;
}

.articles article:nth-child(1) {
    animation: slideIn 600ms ease;
    /* transition-delay: 100ms; */
}
.articles article:nth-child(2) {
    animation: slideIn 800ms ease;
    /* transition-delay: 400ms; */
}
.articles article:nth-child(3) {
    animation: slideIn 1000ms ease;
    /* transition-delay: 200ms; */
}
.articles article:nth-child(4) {
    animation: slideIn 1200ms ease;
    /* transition-delay: 200ms; */
}

.articles article h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 25px;
    width: 100%;
    height: 90px;
    color: #edf0f1;
    text-align: center;
    border-bottom: 2px solid var(--theme-color);
    margin-top: 8%;
    padding-left: 2%;
    padding-right: 2%;
    transition: all 500ms ease-in-out;
}

.articles article p {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 1rem;
    color: #edf0f1;
    margin: 0 8% 5% 0%;
}

.articles .pImgContainer {
    width: 50%;
}

.articles article img {
    width: 32%; 
    height: max-content;
    min-height: 10%;
    max-height: 44%;
    margin: 0 1% 0 0
}

.articles article a {
    color: #edf0f1;
    text-decoration: none;
}

.articles article button {
    font-family: "Montserrat", sans-serif;;
    font-size: 16px;
    display: block;
    margin: 13%  0 0 25%;
    height: 33px;
    width:32%;
    border-radius: 0.7rem;
    border: none;
    color:#edf0f1;
    background-color: var(--button-color);
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.articles article button:hover {
    background-color:var(--button-hover-color);
    font-size: 20px;
    width: 40%;
    height: 38px;
    border-radius: 0.8rem;
    letter-spacing: 0.5px;
    box-shadow: 0 0 20px var(--theme-color);
}

.articles article button:active {
    background-color: var(--button-active-color);
}

.articles h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 50px;
    width: 100%;
    height: 90px;
    color: #edf0f1;
    text-align: center;
    margin-top: 8%;
    padding-left: 2%;
    padding-right: 2%;
    transition: all 500ms ease-in-out;
}